*{
    padding:0;
    margin:0;

}
html , body {
    max-width: 100%;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select:none;
}
html{
    font-size: 62.5%;
    font-family: "playfair display ",serif;

}
html::-webkit-scrollbar{
}

#preLoader{
    position: fixed;
    background: url(img/pre\ loader\ 2.gif) no-repeat center center ;
    background-size:100%;
    width: 100%;
    height: 100vh;
    z-index: 20000000;
}

.logo{
    position: absolute;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    z-index: 400;

}
.logo img{
    z-index: 400;
    width: 15rem;
    height: 10rem;
    object-fit:cover;
}
.logo h1{
    width: 15rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(to left , violet, indigo, blue, green, rgb(194, 40, 40), orange, red );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}
.call{
    display: flex;
    text-align: center;
    justify-content: center;

    z-index:30;
    width: 3rem;
    height: 3rem;
    right: 10px;
    bottom: 10px;
    position: fixed;
    font-size: 3rem;
    line-height: 2rem;
    padding:1rem;
    border-radius:10000px;
    background-color: #23c65f;
    box-shadow: 0rem 0rem 1rem 0.2rem  rgb(95, 162, 175)  ;


}



.call a{
    list-style-type:none;
    text-decoration:none;
    color: white;
    transition:ease-in-out 0.4s;

}
.call:hover a{
    color: black;
    font-size: bolder;

}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%vh;
    min-height:745px;
    overflow: hidden;
}
 .whatsapp{
    display: flex;
    text-align: center;
    justify-content: center;

    z-index:30;
    width: 3rem;
    height: 3rem;
    left: 10px;
    bottom: 10px;
    position: fixed;
    font-size: 3rem;
    line-height: 2rem;
    padding:1rem;
    border-radius:10000px;
    background-color: #23c65f;
    box-shadow: 0rem 0rem 1rem 0.2rem  rgb(95, 162, 175)  ;

    animation-duration: 2s;

}
.whatsapp a{
    color:white;
    transition: ease-in-out 0.4s;
}
.whatsapp a:hover{
    color:black;
}

.dots{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* -webkit-filter: blur(15px); */
    filter: blur(15px);


background-color: rgba(255, 255, 255, 0.4);
}

.insta-first-page{
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 93%;
    border-radius:2rem;
    animation: phoneindex 4s forwards;

    visibility: 0;

}
.bg-image{
    position:absolute;
    z-index:3;
    width: 100%;
    height: 100%;
    object-fit:fill;
    animation: scale 5s ;
    border-radius: 2rem;
    overflow: hidden;
    animation: phoneindex 4s forwards;
    opacity: 0 ;
    visibility: 0;

}

.background{
    overflow: hidden;
    background: rgb(2,0,36);
    background:  linear-gradient(45deg, white 0%,  rgb(190, 188, 226) 70%, rgb(95, 162, 175) 100%) ;
    display: flex;
    position:relative;
    width: 100%;
    height: 100%vh;
    justify-content: center;
    animation: bgcolor 3s;
}

@keyframes bgcolor {
    0%{
        background-color:rgba(0,0,0,1);
    }
    100%{
        background-color:none;
    }
}

.header{
    overflow:hidden;
    height: 100vh;

}


/* instagram feed  //////////////////////////  */
.instafeed{
    position: absolute;
    z-index:3;
    right:8%;
    top:20rem;
    width: 30%;
    height:20%;



}
.instafeed-btn{
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    width: 20rem;
    z-index: 100;

    top: 15vh;
    right: 15%;

    border-radius:6rem;
    background-color: #c29525;
    transition: all 1s;

}
.instafeed-btn:hover{
    color: #c29525;
    border: none;
    background-color: #262626;
}
.moveup-btn{
    top:-6rem;
}

#instafeed-container{
    z-index:3;
    display: absolute;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(1,2rem);
    grid-row-gap:1rem;
    grid-column-gap:1rem;

}
.instafeeder{
    position:absolute;
    visibility: hidden;
    right:-500px ;
    transition: all 1s;
    display: none;
    opacity: 0;
}
.row {
    right: 0;
    display: grid;
    opacity: 1;
}

#instafeed-container :nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}
#instafeed-container :nth-child(2){
    grid-column: 3 /4 ;
    grid-row: -5 / 4;
}
#instafeed-container :nth-child(3){
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}
#instafeed-container :nth-child(4){
    grid-column: 4 /0 ;
    grid-row: 1 / 3;
}


.instafeed  a {
    display:flex;
    justify-content:space-around ;
}

.instafeed a img {
    z-index: 300;
    width: 100px;
    height: 100px;
    object-fit:cover;
    cursor:pointer;
    display: grid;
}
.slide-show-container{
    width: 450px;

    position: absolute;
    font-size: 2rem;
    height: 70px;
    line-height: 7rem;

    font-family: sans-serif;
    z-index: 10;
    right: 20%;
    top:30%;
     overflow:hidden
}
.slide-show{

    animation: anime 8s 2s  infinite ;

}

@keyframes anime {
    from{

        margin-top:0;
    }

     20%{
        margin-top:-70px;
    }
    40%{
        margin-top:-140px;
    }
    80%{
        margin-top:-210px;
    }
    100%{
        margin-top:-280px;
    }


    to{
        margin-top: -280px;
    }


}





.phone-wraper{
    position:inherit;
    user-select: none;

    margin-top: 5%;
    width:30rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.phone-inside{

    position: absolute;
    display: flex;
    flex-direction: column;
    animation: phoneinsideindex 3s 1s forwards;
    opacity: 0;
    z-index: 300;

}
.phone-inside h2 {
    margin-top: 5rem;
    font-size: 3rem;


    color: rgb(94, 27, 27);
    margin-bottom: 0.5rem;
    text-shadow: 5rem;
    animation: scale 5s;
    font-weight: 800;

}





@keyframes phoneindex{
    0%{
        opacity: 0;
        visibility:hidden;
        background-color:rgba(0,0,0,0.4)

    }
    100%{
        opacity: 1;
        visibility: visible;
        background-color: none;
    }
}
@keyframes phoneinsideindex{
    0%{
        opacity: 0;
        visibility:hidden;


    }
    100%{
        opacity: 1;
        visibility: visible;

    }
}



    @keyframes scale {
        0%{
            transform: scale(0.9)

        }
        100%{
            transform:scale(1);
        }

    }

    .tcs{
        bottom: 2rem;
        font-size: 7rem;
        z-index :18;
        white-space:nowrap;
        background-image: linear-gradient(to left , violet, indigo, blue, rgb(34, 139, 34), rgb(187, 60, 60), orange, red ); */
        background-color:black ;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

    }

.text  {
    background-color:rgba(0,0,0,0.1 );
    backdrop-filter: blur(10px);
    border-radius:2rem;
    width:20%;
    z-index:3;
    padding: 2rem;
    position: absolute;
    font-size: 3rem;
    color: black;
    top: 20rem;
    left: 10%;
    overflow: hidden;



}
.text p {
    z-index:3;

    font-weight: bolder;
    margin: 1rem;
    width: 90%;
    animation: text 2s;
    overflow:hidden;

}
h1{
    overflow: hidden;
    opacity: 0;
    animation: text 2s  forwards;
}

button{
    font-size: 1.5rem;
    width:20rem;
    height:5rem;
    animation: text 2s;
    background-color:#c29525;
    border:none;
    transition: all .5s;
}
button:hover{
    background-color:#c28e0a;
    border-radius: 2rem;
}

/* --------------------pop up window ------------------ */

.popup-contact{

    z-index: 100000;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color:rgba(114, 110, 110, 0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    visibility: hidden;
    transition: all 0.2s;
    opacity: 0.1;
}
.popup-content-close{
    visibility: inherit;
    opacity: 1;
}

.contact-box{
    position: sticky;
    width:70%;
    height: 90vh;
    background-color: seashell;
    border-radius:2rem ;
    box-shadow: 4px 0px 10px 5px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.close-popup{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    z-index: 200;

}

.close-popup:hover{
background-color: white;
color: red;

}

.contact-box h2{
    position: absolute;
    top: 10px;
}

.form {
    display:grid ;
    grid-template-columns: auto auto;
    grid-template-rows: auto  auto;
    overflow: hidden;

}
.form label {
    margin-top: 3rem;
    margin-right: 4rem;
}

.form input {
    margin-top: 3rem;
    background-color: rgb(190, 188, 186,0.1);
    border-radius: 0.5rem;
    border: 0;
    border-bottom:thin dashed #000;
    outline: none;
    list-style-type: none;

}
/* .form input:focus{
    transition: 0.4s;
    background-color: rgba(0,0,0,0.2);
    width: 20rem;
    font-size: 2rem;
    height: 2rem;
} */
.form input:not(:last-child):focus{
    transition: 0.4s;
    background-color: rgba(0,0,0,0.2);
    width: 20rem;
    font-size: 2rem;
    height: 2rem;
}

#problem{
        padding: 5rem  2rem;
        margin-top: 2rem;
        resize: none;
        border-radius: 1% 1% 1% 1% / 2% 2% 2% 2%;
        outline: thin;
    }


.submit-popup{
    position: absolute;
    bottom: 2rem;
    right: 10rem;
    border: none;
    width: 6rem ;
    background-color:rgba(93, 199, 93, 0.829) ;
    padding: 1rem 1rem;
    border-radius: .4rem ;
    transition: ease-in-out 0.2s;

}

.submit-popup:hover{

    font-size: bolder;
    box-shadow: 0px 0px 19px 6px rgba(93, 199, 93, 0.829);

}
@keyframes text{
    0%{
        transform:translateY(50rem)rotateY(-90deg);

    }
    100%{
        transform:translateY(0px)rotateX();
        opacity:1;
    }
}

/* --------------------side bar ----------------- */

.side-bar{
    z-index: 400;
    position: fixed;
    display: flex;
    right: 0;
    height: 100%;
    width: 25rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 3rem;
    transform: ease-in-out 2s;
    animation-duration: 2s;
    transition: ease-in-out 0.3s;
    background-color: rgba(0,0,0,0.2);


}

.off{

    right :-25rem
}

.side-bar ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}


.side-bar li{
    list-style-type: none;
    justify-content: space-evenly;
    position: relative;
}

li a {
    text-decoration: none;
     color: white;
}

.menu-link::before{
    position: absolute;
    content: attr(data-content);
    top:0;
    left:0;
    color:#c29525;
    width:0;
    overflow: hidden;
    white-space:nowrap;
    transition:0.3s ease-in-out
}
.menu-link:hover:before{
    width: 100%;

}

.sanvichbtn{
    display: flex ;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 2 rem;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: ease-in-out 0.4s 0.1s;
}
.x{
    right:20rem;
}


.sandiv{
    position: relative;
    background-color: black;
    width: 3rem;
    height: 0.5rem;
    margin:0.2rem;
    transition: ease-in-out .3s;

}
.sanvichbtn{
    z-index: 500;
    position: fixed;
}

.change .line-1{
    transform: rotate(-45deg) translate(-0.6rem,.6rem);
    background-color:black;
}
.change .line-2{
    overflow: hidden;
    display: none;
}
.change .line-3{
    transform:rotate(45deg);
    background-color:black;

}
.close{
    opacity: 0;
    display: none;
}

.change .close{
    right: 4.4rem;
    background-color:orange;
    width:4rem;
    height:2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}
.change .close::before{
    position: absolute;
    z-index: -1;
    content:"";
    border-right:0.2rem solid;
    border-top:0.2rem solid;
    border-bottom:none ;
    border-left:none ;
    border-color:orange;
    background-color:orange;
    border:color red;
    width: 1rem;
    transform: rotate(45deg);
    height:1rem;
    right: -0.3rem;

}

.sanvichbtn:hover span{
    opacity: 1;
    visibility: inherit;
}

/* ----------about us---------------- */

section{
    width:100%;

    background-color: #f5f5f5;
    padding-bottom: rem;
}

.brokenimg{
    object-fit:contain;
    width:35rem;
    height:35rem
}
.about-us-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-us{
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 5rem;
}
.underline{
    width: 12rem;
    height: .3rem;
    background-color:#c29525;
}

.servisler{
    width: 100%;
    height: 90vh;
    display: grid;
    font-size: 2     rem;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(1,4rem);
    grid-row-gap:4rem;

}
.servisler  p{
    width: 20rem;
}

.servisler i {
    font-size: 3rem;
}



.servisler div:nth-child(1){
    grid-column: 3 / 3;
    grid-row: 1 / 1  ;

}
.servisler div:nth-child(2){
    grid-column: 2 /2;
    grid-row: 2 / 2 ;
    margin-top: 20px;

}
.servisler div:nth-child(3){
    grid-column: 2 /2;
    grid-row: 4 /4 ;

}
.servisler div:nth-child(4){
    grid-column: 3 /3;
    grid-row: 6 /6 ;
}
.servisler div:nth-child(5){
    grid-column: 5 / 5;
    grid-row: 1/ 1 ;
}
.servisler div:nth-child(6){
    grid-column: 6 /6;
    grid-row: 2 /2 ;
    margin-top: 20px;

}
.servisler div:nth-child(7){
    grid-column: 6 /6;
    grid-row: 4 /4 ;
}
.servisler div:nth-child(8){
    grid-column: 5 /5;
    grid-row: 6 /6 ;
}


.brokenimg{
    position: absolute;
    opacity:0.8 ;
    left:40%;
    margin-top:9rem;
    -webkit-user-select:none;
    user-select:none;
    z-index: 2;
}

.servis-divs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    cursor: pointer;
    z-index:200;
    transition:ease-in .3s;
    border-radius: 2rem;
}

.servis-divs:hover{
    transition:ease-in .2s;
    box-shadow:0px 5px 5px 5px  gray;

}
/* /////////pop up for servisler////////////////// */



.popup{
    z-index: 100000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color:rgba(114, 110, 110, 0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all 0.2s;

    visibility:hidden;
    overflow: scroll;

}

.popup-in{
    position: relative;
    width:70%;
    height: 90vh;
    background-color: seashell;
    border-radius:2rem ;
    box-shadow: 4px 0px 10px 5px rgba(0,0,0,0.2);

    top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    overflow: scroll;
}
.popup-in h1{
    margin: 1rem;
    top: 1px;
    position: absolute;
}
.popup-in p{
    position: absolute;
    top: 7rem;

    font-weight: 200px;
    line-height: 2.4rem;
    margin:0 10rem 0 10rem ;
    font-size: 2.1rem;
}


.visible {
     visibility: visible;
}

.close-servisler{
    position:  absolute;
    right:2rem ;
    top: 2rem;
    z-index: 100;
}


 .verikurtarma-in li{
    list-style-type:decimal ;
    margin-left:-10rem;
}
.applewatch-in li{
    list-style-type:decimal ;
    margin-left:-10rem;

} 



/*PERSONEL CARDS SECTION//////////////////////////////////*/

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0rem 20rem 0rem;
    overflow:hidden;

}
.cards-wraper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    width: 100%;
}

.card{
    position:relative;
    width: 30rem;
    height: 40rem;
    box-shadow:0 1rem 4rem rgba(0,0,0,0.6);
    border-radius: 0.5rem;


}
.card:hover img{
    opacity: 0.5;
}
.image-wraper{
    width: 100%;
    height: 100%;
    background-color:#262626;
    border-radius: 0.5rem;


}
.image-wraper img{
    width: 100%;
    height:100%;
    object-fit:cover;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition:all 0.3s;
}
.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow:0 0.2rem 0.5rem rgba(0,0,0,0.4);

    transition: ease 0.4s;

    opacity:0;
    visibility:hidden;
}
.card:hover .card-info{
    opacity: 1;
    visibility: visible;

    bottom: 2rem;
}
.card-info h1{
    font-family: "baloo da",serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color:#eee;
}
.card-info h3{
    font-family: "muli",serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    color:#a52a2a;
    margin-bottom: 1rem;
}
.card-info p{
    font-family:"baloo da 2",seif;
    font-size: 1.5rem;
   line-height: 1.8rem;
   font-weight: 300;
   color:#eee;
   width: 70%;
    margin-bottom: 2rem;
}

.card-info button {
    border-radius: .3rem;
    width:10rem;
    height:3rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    box-shadow: 0 0.5rem 1.8rem 0.2rem rgba(0,0,0,0.4);
}

/* footer part*/



.tcs-konum{
    position: absolute;
    right: 2%;
    width: 20rem;
    display: flex;


}

.map{
    display: inline;
width: 20rem;
height: 20rem;
border-radius: 10rem;
transition: all 1s;
/* margin-right: 10rem; */
}

.map:hover{
    border-radius:2rem ;
}
.map-shadow:hover{
    opacity: 1;
}
.map-shadow{
    box-shadow: 0 0.4rem 0.6rem .2rem rgba(0,0,0,0.4);
}

#konum{
    position: absolute;
    width: 15rem;
    right: 23rem;
    bottom: 4rem;


}
#calis{
    position: absolute;
    width: 20rem;
    border:2px solid white;
    left: 30%;
    line-height: 2.6rem;    bottom:6rem;
    box-shadow: 1px 1px 2px 2px white ;
    
}
#calis p {
    line-height: 2.8rem;
}
.overSize{
    color: #000;
    padding:0.1rem ;
    font-size:2rem ;
}

footer p {
    color: whitesmoke;
    font-size: 2rem;
}

footer{
    position: relative;
    background-color: #222;
    width: 100%;
    height: 30rem;
    margin: 0;
    padding: 0;
    bottom:0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 2rem 2rem 0 0;
    scrollbar-width: none;
    z-index: 31;



}


footer span {
    display:table-cell;
    vertical-align: middle;


    width: 9rem;
    padding:1rem;
    font-size: 3rem;
    color: #eee;
    cursor:pointer;
    transition: ease .1s;
}
footer span:hover{
    background-color:rgb(199, 192, 192);
    color: #000;
    border-radius: 1rem;
}

#footer-number{
    border: none;
    list-style-type: none;
    text-decoration: none;
    color: red;

}


FOOTER i{
    color: white;
    font-size: 1rem;
}

.copyright-div{
    position: absolute;
    width: 100%;
    bottom:0;

}

#copyRight{
    position:relative ;
    width: 30%;
    white-space:nowrap;  
    overflow-x:hidden;
    background-color:#e8eaed17;
    border-radius: 1rem;
    padding:1rem;
    
}

span a{
    position: inherit;
    width:100%;
    height:100%;

}
@media (max-width:5000px){

    

    .text{
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 2.4rem;
    }
 
    .slide-show-container{
        position:absolute;
        right:30rem;
        top: 10%;
        font-size: 2rem;

    }

    .text button {
        width: 20rem;
        height: 5rem;

    }
     .instafeed-btn{
         right: 10%;
         margin-top: 5rem;
        }


    #instafeed-container {

    }



    .servisler{
        font-size: 2rem;
        height: 1000px;

    }

    .card{
        width: 600px;
        height: 1000px;
    }

    .servisler div:nth-child(1){
        grid-column: 3 / 3;
        grid-row: 2 / 2  ;

    }
    .servisler div:nth-child(2){
        grid-column: 2 /2;
        grid-row: 3 / 3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(3){
        grid-column: 2 /2;
        grid-row: 4 /4 ;

    }
    .servisler div:nth-child(4){
        grid-column: 3 /3;
        grid-row: 5 /5 ;
    }
    .servisler div:nth-child(5){
        grid-column: 5 / 5;
        grid-row: 2/ 2 ;
    }
    .servisler div:nth-child(6){
        grid-column: 6 /6;
        grid-row: 3 /3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(7){
        grid-column: 6 /6;
        grid-row: 4 /4 ;
    }
    .servisler div:nth-child(8){
        grid-column: 5 /5;
        grid-row: 5 /5 ;
    }

    .servisler img{
        display: block;
        left: -10px;
        opacity:0.8 ;
        margin-top:35rem;
        width: 99%;
    }

    .card{
        width: 30rem;
        height: 40rem;
    }
    /*
    #copyRight{
        position:absolute ;
        /* left: 50%;
        transform: translateX(50%); 
        white-space: nowrap;
        background-color:#e8eaed17;
        border-radius: 1rem;
        padding:1rem;
        bottom: 0   ;
       
    }*/

    #konum{
        right:50rem;

     }
     
 




}

@media (max-width: 1300px) {


    .text{
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.7rem;
    }
    .text p {

    }
    .slide-show-container{
        position:absolute;
        right: -8%;
        top: 10%;
        font-size: 1rem;

    }

    .text button {
        width: 20rem;
        height: 5rem;

    }
     .instafeed-btn{
         right: 10%;
         margin-top: 5rem;
        }





    .servisler{
        font-size: 2rem;
        height: 1000px;

    }

    .card{
        width: 600px;
        height: 1000px;
    }

    .servisler div:nth-child(1){
        grid-column: 3 / 3;
        grid-row: 2 / 2  ;

    }
    .servisler div:nth-child(2){
        grid-column: 2 /2;
        grid-row: 3 / 3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(3){
        grid-column: 2 /2;
        grid-row: 4 /4 ;

    }
    .servisler div:nth-child(4){
        grid-column: 3 /3;
        grid-row: 5 /5 ;
    }
    .servisler div:nth-child(5){
        grid-column: 5 / 5;
        grid-row: 2/ 2 ;
    }
    .servisler div:nth-child(6){
        grid-column: 6 /6;
        grid-row: 3 /3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(7){
        grid-column: 6 /6;
        grid-row: 4 /4 ;
    }
    .servisler div:nth-child(8){
        grid-column: 5 /5;
        grid-row: 5 /5 ;
    }

    .servisler img{
        display: block;
        left: -10px;
        opacity:0.8 ;
        margin-top:35rem;
        width: 99%;
    }

    .card{
        width: 30rem;
        height: 40rem;
    }

    #konum{
        right:23rem;

     }
     

}

@media (max-width:1085px){
    .text{
        height: 35rem;
        width: 22rem;
        display: flex;
        margin-left:-60px ;
        margin-top: -40px;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.7rem;
    }
    .text p {

    }
    .slide-show-container{
       width: 200px;
       transform: translate(-50%,-50%);
       left: 50%;
       top: 2.5rem;


    }


    .text button {
        width: 20rem;
        height: 5rem;

    }
     .instafeed-btn{
         right: 0%;
         margin-top: 5rem;
        }





    .servisler{
        font-size: 2rem;
        height: 1000px;

    }

    .card{
        width: 600px;
        height: 1000px;
    }

    .servisler div:nth-child(1){
        grid-column: 3 / 3;
        grid-row: 2 / 2  ;

    }
    .servisler div:nth-child(2){
        grid-column: 2 /2;
        grid-row: 3 / 3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(3){
        grid-column: 2 /2;
        grid-row: 4 /4 ;

    }
    .servisler div:nth-child(4){
        grid-column: 3 /3;
        grid-row: 5 /5 ;
    }
    .servisler div:nth-child(5){
        grid-column: 5 / 5;
        grid-row: 2/ 2 ;
    }
    .servisler div:nth-child(6){
        grid-column: 6 /6;
        grid-row: 3 /3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(7){
        grid-column: 6 /6;
        grid-row: 4 /4 ;
    }
    .servisler div:nth-child(8){
        grid-column: 5 /5;
        grid-row: 5 /5 ;
    }

    .servisler img{
        display: block;
        left: -10px;
        opacity:0.8 ;
        margin-top:35rem;
        width: 99%;
    }

    .card{
        width: 30rem;
        height: 40rem;
    }


}

@media (max-width:880px){
    .text{
        height: 20%;
        width: 20rem;
        transform: translate(-50%,-50%);
        top: 85%;
        left: 58%;
        font-size: 1.7rem;
    }

    .slide-show-container{
       width: 200px;
       transform: translate(-50%,-50%);
       left: 50%;
       top: 2rem;


    }
    .text p{
        display:none ;
    }


    .btn {
        position: inherit;
        bottom: 1rem;
        width: 10rem;
        height: 10rem;

    }
     .instafeed-btn{
       display: none;
        }


 

    .servisler{
        font-size: 2rem;
        height: 1000px;

    }

    .card{
        width: 600px;
        height: 1000px;
    }

    .servisler div:nth-child(1){
        grid-column: 3 / 3;
        grid-row: 2 / 2  ;

    }
    .servisler div:nth-child(2){
        grid-column: 3 /3;
        grid-row: 3 / 3 ;

    }
    .servisler div:nth-child(3){
        grid-column: 3 /3;
        grid-row: 5 /4 ;

    }
    .servisler div:nth-child(4){
        grid-column: 3 /3;
        grid-row: 5 /5 ;
    }
    .servisler div:nth-child(5){
        grid-column: 5 / 5;
        grid-row: 2/ 2 ;
    }
    .servisler div:nth-child(6){
        grid-column: 5 /5;
        grid-row: 3 /3 ;
        margin-top: 20px;

    }
    .servisler div:nth-child(7){
        grid-column: 5 /5;
        grid-row: 4 /4 ;
    }
    .servisler div:nth-child(8){
        grid-column: 5 /5;
        grid-row: 5 /5 ;
    }

    .servisler img{
        display: block;
        left: -10px;
        opacity:0.8 ;
        margin-top:35rem;
        width: 99%;
        opacity: 0.1;
    }

    .card{
        width: 30rem;
        height: 40rem;
    }

/* footer media */
.footer{
    display: flex;
}

.tcs-konum{
   display: flex;
    left: 60%;
    width: 20rem;
    bottom: 0;
    min-height: 28rem;
}

.map{
    position: absolute;
    display: inline;
width: 10rem;
height: 10rem;
border-radius: 10rem;
transition: all 1s;
margin-right: 10rem;
}

.map:hover{
    border-radius:2rem ;
}
.map-shadow:hover{
    opacity: 1;
}
.map-shadow{
    box-shadow: 0 0.4rem 0.6rem .2rem rgba(0,0,0,0.4);
}

#konum{
margin-right: -21rem;

}
#calis{
    position: absolute;
    width: 20rem;
    border:2px solid white;
    left: 50%;
    transform:translate(-50%);
    line-height: 2.6rem;
    bottom:5rem;
    box-shadow: 1px 1px 2px 2px white ;
}
#calis p {
    line-height: 2.8rem;
}


}

@media (max-width:650px){
    #calis{
        bottom:32rem;
        z-index:200;
    }
    #calis p{
        color:black;
    }
    .tcs-konum{
        left:50%
    }
    .tcs{
        opacity: 0;
        font-size: 3rem;
        margin-bottom: 6rem;
        z-index: 2;
    }

    .logo{
        position: absolute;
        width: 20rem;
        height: 20rem;
        padding: 2rem;
        z-index: 400;

    }
    .logo img{
        z-index: 400;
        width: 5rem;
        height: 4rem;
        object-fit:cover;
    }
    .logo h1{
        width: 15rem;
        font-size: .6rem;
        text-transform: uppercase;
        font-weight: 500;
        background: linear-gradient(to left , violet, indigo, blue, green, rgb(194, 40, 40), orange, red );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.popup-in{

    width:90%;

}

.popup-in p{
    margin: 1rem 3rem 2rem 1rem;
}

.contact-box {
    height: 80%;
}

.contact-box  h2{
    font-size:2rem ;
    top: 4rem;
}

.contact-box form label {
display:none;
}
.contact-box :nth-child(0)::placeholder::before{
content:hi;
}

.contact-box form{
    display: flex;
    flex-direction:column;
    margin-top: 50px;
}

.contact-box .submit-popup {
    right: 2px;
    background-color: #c28e0a;
}

.card{

    width: 10rem;
    height: 30rem;

}

}


@media (max-width:400px ){
    .bg-image{
        position:absolute;
        z-index:3;
        width: 100%;
        height: 100%;
        object-fit:fill;
        animation: scale 5s ;
        border-radius: 2rem;
        overflow: hidden;
        animation: phoneindex 4s forwards;
        opacity: 0 ;
        visibility: 0;
    
    }
    .phone-wraper{
        position:inherit;
        user-select: none;
    
        margin-top: 18%;
        width:25rem;
        height: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
   .text{
    top: 70rem;
    height: 12rem;
    left: 68%;
    z-index: 99;
}



.logo h1 {
display:none;
}
.servisler{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10rem 0 10rem 0;
}

#copyRight{
    width: 50vw;
    font-size:7px;
}
}

