*{
    padding:0;
    margin:0;

}
html{
    font-size: 62.5%;
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%vh;
    overflow: hidden;
}

.background{
    display: flex;
    position:relative;
    width: 100%;
    height: 100%vh;
    justify-content: center;
}
.header{
    overflow:hidden;
    height: 100vh;

}



.bg-image{
    top: 8rem;
    position: relative;
    width: 20%;
    height: 80vh;
    background-size: ;
    background-color: white;
    animation: scale 5s ;
    overflow: hidden;
    
}



    @keyframes scale {
        0%{
            transform: scale(0.9)

        }
        100%{
            transform:scale(1);
        }
        
    }
    
    .tcs{
        font-size: 3rem;
        position: absolute;
        margin-top: 20%;
        margin-left:3rem;
        z-index :18;
        background-image: linear-gradient(to left , violet, indigo, blue, green, black, orange, red );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

.text  {
    position: absolute;
    font-size: 2rem;
    color: black;
    top: 20rem;
    left: 12rem;
    overflow: hidden;

   
    
}
.text p {
    margin: 1rem;
    width: 20%;
    animation: text 2s;
    overflow:hidden;

}
h1{
    overflow: hidden;
    opacity: 0;
    animation: text 2s  forwards;
}

button{
    width:20rem;
    height:5rem;
    animation: text 2s;
    background-color:#c29525;
    border:none;
}

@keyframes text{
    0%{
        transform:translateY(50rem)rotateY(-90deg);
        
    }
    100%{
        transform:translateY(0px)rotateX();
        opacity:1;
    }
}

.side-bar{
    z-index: 2;
    position: fixed;
    display: flex;
    right: 0;
    height: 100%;
    width: 25rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 3rem;
    transform: ease-in-out 2s;
    animation-duration: 2s;
    transition: ease-in-out 0.3s;
    background-color: rgba(0,0,0,0.2);

}

.off{

    right :-25rem
}

.side-bar ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}


li{
    justify-content: space-evenly;
    position: relative;
}

li a {
    text-decoration: none;
     color: white; 
}

.menu-link::before{
    position: absolute;
    content: attr(data-content);
    top:0;
    left:0;
    color:#c29525;
    width:0;
    overflow: hidden;
    white-space:nowrap;
    transition:0.3s ease-in-out
}
.menu-link:hover:before{
    width: 100%;
    
}

.sanvichbtn{
    display: flex ;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 2 rem;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: ease-in-out 0.4s 0.1s;
}
.x{
    right:20rem;
}


.sandiv{
    display: relative;
    background-color: black;
    width: 3rem;
    height: 0.5rem;
    margin:0.2rem;
    transition: ease-in-out .3s;

}

.change .line-1{
    transform: rotate(-45deg) translate(-0.6rem,.6rem);
    background-color:black;
}
.change .line-2{
    overflow: hidden;
    display: none;
}
.change .line-3{
    transform:rotate(45deg);
    background-color:black;

}
.close{
    opacity: 0;
    display: none;
}

.change .close{
    right: 4.4rem;
    background-color:orange;
    width:4rem;
    height:2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}
.change .close::before{
    position: absolute;
    z-index: -1;
    content:"";
    border-right:0.2rem solid;
    border-top:0.2rem solid;
    border-bottom:none ;
    border-left:none ;
    border-color:orange;
    background-color:orange;
    border:color red;
    width: 1rem;
    transform: rotate(45deg);
    height:1rem;
    right: -0.3rem;

}

.sanvichbtn:hover span{
    opacity: 1;
    visibility: inherit;
}

/* about us */

section{
    width:100%;
    height: 100%;

    background-color: #f5f5f5;
    padding-bottom: 15rem;

}

.brokenimg{
    object-fit:contain;
    width:35rem;
    height:35rem
}
.about-us-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-us{
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 5rem;
}
.underline{
    width: 12rem;
    height: .3rem;
    background-color:#c29525;
}

.servisler{
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 1.5rem;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(4,4rem);
    grid-row-gap:4rem;

}
.servisler  p{
    width: 20rem;
}


.servisler div:nth-child(1){
    grid-column: 3 / 3;
    grid-row: -5/ -5 ;

}
.servisler div:nth-child(2){
    grid-column: 2 /2;
    grid-row:2 /2 ;
}
.servisler div:nth-child(3){
    grid-column: 1 /1;
    grid-row: 3 / 10 ;
}
.servisler div:nth-child(4){
    grid-column: 6 / 100;
    grid-row: -5 / -5 ;
}
.servisler div:nth-child(5){
    color:red;
    grid-column: 9/-6 ;
    grid-row: 2 /2 ;
    margin-top: -20px;
}
.servisler div:nth-child(6){
    color:red;
    grid-column: 9 /9;
    grid-row: 3 /3 ;
    margin-top: -20px;
}
.servisler div:nth-child(7){
    color:red;
    grid-column: 4 /4;
    grid-row: 5 /6 ;
    margin-top: -20px;
}

.brokenimg{
    position: absolute;
    opacity:0.8 ;
    left:35%
}

